div.index-info {
    margin-bottom: 15px;
}

div.index-info > h5 {
    font-weight: bold;
}

div.index-info img.img-responsive {
    margin-bottom: 5px;
}

div.index-info a.more {
    display: inline-block;
    margin-top: 5px;
}

div.index-info a.more:hover {
    text-decoration: none;
}

#map {
    height: 250px;
}

div.contact-info {
    border-left: 1px solid #81669d;
    padding-left: 15px;
}

div.about {
    font-size: 16px;
    border-left: 1px solid #81669d;
    border-right: 1px solid #81669d;
}