.page-title {
    font-style: italic;
    font-weight: bold;
    margin: 0 0 20px 0;
}

div.info-wrapper {
    margin-bottom: 15px;
}

div.info-wrapper > h5 {
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #a3a3a3;
}
