.page-title {
    font-style: italic;
    font-weight: bold;
    margin: 0 0 20px 0;
}

div.info-wrapper {
    margin-bottom: 30px;
}

h5.info-title {
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #a3a3a3;
    margin: 0 0 10px 0;
}
