h3.contact-title {
    font-style: italic;
    font-weight: bold;
    margin: 0 10px 20px;
}

h5.info-title {
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #a3a3a3;
    margin: 0 0 15px 0;
}

#map {
    height: 400px;
}
