div.booking-header, div.booking-details, div.booking-extra {
    padding: 10px;
}

div.booking-header {
    font-weight: bold;
    background-color: #a7d47b;
}

div.booking-details, div.booking-extra {
    background-color: #e8f4dc;
    margin-bottom: 15px;
}

div.booking-details > div {
    margin-bottom: 10px;
}

div.booking-details-header {
    font-weight: bold;
}

div.price-details {
}


div.form-block {
    background-color: #aed786;
    padding: 10px 15px;
    margin-bottom: 15px;
}

#orderForm input, #orderForm select, #orderForm textarea {
    border-radius: 0;
}

#orderForm .control-label {
    color: #000;
}

#orderForm button[type='submit'] {
    outline: none;
    border: none;
    background-color: #a7d47b;
    padding: 5px 15px;
}