div.booking-header, div.booking-details, div.booking-extra {
    padding: 10px;
}

div.booking-header {
    font-weight: bold;
    background-color: #a7d47b;
}

div.booking-details, div.booking-extra {
    background-color: #e8f4dc;
}

div.booking-details > div {
    margin-bottom: 10px;
}

div.booking-details-header {
    font-weight: bold;
}

div.price-details {
}




#orderForm input, #orderForm select, #orderForm textarea {
    border-radius: 0;
}

#orderForm .control-label {
    color: #000;
}