div.room-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 30px;
}

img.img-responsive {
    margin-bottom: 20px;
}

ul.room-include {
    font-weight: bold;
    list-style-position: inside;
    padding: 0 0 0 5px;
}

.room-description {
    margin-bottom: 25px;
}

#roomForm {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 10px;
}

#roomForm button[type='submit'] {
    color: #000;
    outline: none;
    border: 1px solid #ccc;
    background: transparent;
    padding: 10px 15px;
}