.page-title {
    font-style: italic;
    font-weight: bold;
    margin: 0 0 20px 0;
}


ul.price-list {
    max-width: 85%;
    list-style: none;
    overflow-x: hidden;
    padding: 0;
}

ul.price-list > li {
    padding-bottom: 5px;
}

ul.price-list > li.dotted:before {
    width: 0;
    white-space: nowrap;
    float: left;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

ul.price-list > li.dotted > span:first-child {
    background-color: #fff;
    padding-right: 5px;
}

ul.price-list > li.dotted span + span {
    background-color: #fff;
    padding-left: 5px;
    float: right;
}

ul.service-list {
    list-style-position: inside;
    padding: 0;
}

.other-info-title {
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 2px;
}

div.our-tours {
    margin: 30px 0;
}

div.our-tours > h4 {
    font-weight: bold;
}

div.dgg {
    text-align: right;
    margin-top: 50px;
}