div.tours-nav {
    background-color: #e5dfec;
    padding: 5px 15px 15px;
    margin-bottom: 15px;
}

div.tours-nav > h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

div.tours-nav > h5 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}

div.tours-nav > ul {
    list-style-position: inside;
    padding-left: 5px;
    margin-bottom: 15px;
}

div.tours-nav a {
    text-decoration: none;
    color: #000;
}

div.tours-nav a.active, div.tours-nav a:hover {
    color: #0083d6;
}

div.tours-contact {
    margin-bottom: 15px;
}

div.tours-contact > span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}