html, body {
    height: 100%;
}

@media screen and (min-width: 1200px) {
    .header img.main-logo {
        height: 126px;
    }

    .menu {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .header img.main-logo {
        height: 50px;
    }

    .menu {
        display: none !important;
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    padding: 0 0 60px;
    margin: 0 auto -60px;
}
.wrap > .container {
    padding: 0 15px 50px;
}

/* Header style begin */
.header {
    /*height: 178px;*/
    border-top: 3px solid #8bc652;
    box-sizing: content-box;
    border-bottom: 1px solid red;
    position: relative;
    padding: 22px 0;
    margin-bottom: 15px;
}
.header img.main-logo {
    /*margin-top: 22px;*/
}
.menu {
    list-style-type: none;
    display: inline-block;
    background: #f3f3f3;
    position: absolute;
    bottom: 22px;
    padding: 15px 0;
    margin: 0 0 0 60px;
}
.menu > li {
    display: inline-block;
    padding: 0;
}
.menu > li > a {
    color: #000;
    display: inline-block;
    border-right: 1px solid #81669d;
    padding: 0 20px;
}
/*.menu > li > a:hover {
    text-decoration-color: #81669d;

}*/
.menu > li:last-child > a {
    border-right: none;
}

#languageWrapper {
    float: right;
}
#languageWrapper > img {
    margin-right: 7px;
    position: relative;
    top: -1px;
}
#languages {
    outline: none;
    border: 1px solid #ccc;
}
/* Header style end */

/* Side style begin */
div.side-banner {
    width: 100%;
    margin-bottom: 30px;
}
div.side-banner > img {
    width: 100%;
}
div.side-info {
    margin-bottom: 50px;
}
div.side-info > h5 {
    font-weight: bold;
}
div.side-info a.more {
    display: inline-block;
    margin-top: 10px;
}
div.side-info a.more:hover {
    text-decoration: none;
}
div.side-info img {
    float: left;
    margin-right: 10px;
}
/* Side style end */

/* Footer style begin */
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
/* Footer style end */

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

